.signinLogin {
	position: relative;
	--submitBtnLen: 4rem;
}

.signinLogin[data-loggedin="true"] input[type="text"] {
	background-color: var(--slate200);
}

.signinLogin input[type="text"] {
	border-radius: 10px 0 0 10px;
	border: none;
    padding: 1rem;
	padding-left: 1rem;
	background-color: white;
	font-size: 1.5rem;
	color: var(--slate600);
	font-variation-settings: "wght" 600;
	width: calc(100% - var(--submitBtnLen));
	outline: none;
}

.signinLogin input[type="text"]::placeholder {
	color: var(--slate200);
	font-style: italic;
}

.signinLogin input[type="submit"] {
	border: none;
	width: var(--submitBtnLen);
	border-radius: 0 10px 10px 0;
	background-color: var(--sky100);
	padding: 1rem;
	font-size: 1.5rem;
}

.signinLoginIconContainer {
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 1.2rem;
    padding-right: 1.2rem;
	color: var(--sky500);
	cursor: pointer;
	height: 100%;
}

.signinLogin[data-loggedin="false"] .signinLoginIconContainer {
    padding-right: 1.4rem;
}

.title {
    position: absolute;
    top: -0.75rem;
    left: 1rem;
    font-variation-settings: "wght" 600;
    color: var(--slate400);
    font-size: 1.25rem;
    margin: 0;
}

.signinLogin svg {
	/*height: 1.65rem;
    width: 1.65rem;*/
}