.deleteHoverWrapper {
	position: relative;
	cursor: pointer;
}

.deleteHoverWrapperIcon {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	color: var(--red400);
}

.deleteHoverWrapper:hover > .deleteHoverWrapperIcon {
	display: flex;
}

.deleteHoverWrapper:hover > .deleteHoverWrapperContent {
	opacity: 75%;
}
